body {
    background-image: url("./assets/back_tinder2.png");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    padding: 5% 10%;
}

header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 15%;
    padding-bottom: 5%;
}

.box-account {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    box-shadow: 0 0 2rem whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    margin: 0%;
}

.box-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: space-between;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    height: 70%;
}

.form-container div {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

.general-info input {
    width: 180%;
    height: 2rem;
    border-radius: 0.5rem;
}

.gender-info {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5%;
}

.form-image {
    width: 50%;
}

button {
    font-size: 1.3rem;
    width: 100%;
    height: 10%;
    background-image: url("./assets/back_tinder2.png");
    color: whitesmoke;
    border-style: none;
    border-radius: 0.5rem;
}

button:hover {
    color: whitesmoke;
}